[submodule "themes/contrast-hugo"]
	path = themes/contrast-hugo
	url = https://github.com/niklasbuschmann/contrast-hugo.git
[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/josephhutch/aether
